<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="skills-flower-image">
            <img src="{{site.baseurl}}/assets/images/flower-img.png" alt="flower image" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="skills-project-box wow fadeInRight">
            <h5>Need some help with your project?</h5>
            <p>If you need some help or if you want to have an ideating session, shoot me an email!</p>
            <a href="" class="skills-project-btn btn-primary btn">get in touch</a>
        </div>
    </div>
</div>
